body {
    background-color: black;
    font-family: "Barlow Semi Condensed", sans-serif;
    margin:0;
    height:100%;
    width:100%;
    padding:0;
}
.navigation {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: white;
    padding: 14px;
    font-size: 16px;
    text-decoration: none;
    
}

.navigation a:hover {
    color: black;
    background-color: white;
}

#backBox{
    background-color: #737373;
    border-style: solid;
    border-radius: 15px;
    margin-top: 50px; margin-left: 50px; margin-right: 50px;
    height : 100vh;
    padding: 20px;
}

#yourShoppingCart{
    background-color: #a6a6a6;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    font-size: large;
}

#itemBackground{
    background-color: #737373;
    height : 90vh;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#itemSection{
    background-color: #737373;
    height: 90%; width: 50%;
    margin-right: 30px; margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.cartItem{
    background-color: #a6a6a6;
    height: 30%;
    margin-top: 10px;
    border-style: solid;
    border-radius: 20px;
    display: flex;
    padding: 10px;
}
.imageItem{
    border-style: solid;
    border-radius: 20px;
    
}
img{
    border-radius: 20px;
}
.itemInfo{
    margin-left: 20px;
    width: 60%;
}
.nameAndRemove,
.sizeAndQuantity{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.buttonSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.remAndQuan{
    border-radius: 20px;
}
#orderSection{
    background-color: #a6a6a6;
    height: 90%; width: 50%;
    margin-right: 30px; margin-left: 30px; margin-top: 15px;
    border-radius: 20px;
}
#top{
    display: flex;
    justify-content: center;
}
#orderSummaryInfo{
    /*border-style: solid; border-radius: 20px;*/
    margin-left: 10px;  margin-right : 10px;
}
.bottom{
    display: flex;
    justify-content: end;
    margin-right: 10px;
    border-radius: 20px;
}
