<!DOCTYPE html>
<html>
<head>
    <title>Winter Collection</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow Semi Condensed" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla One" />
    <link rel="stylesheet" href="styles/products.css" />
</head>
<nav class="navigation">
    <div id="brand"><a href="homepage.html">basics.</a></div>
    <div class="products">
        <a href="products.html">Our products</a>
        <a href="reviews.html">Reviews</a>
        <a href="reach_out.html">Reach Out</a>
    </div>
    <a href="cart.html">Shopping Cart</a>
</nav>

<body>
    <section id="products">
        <select name="category" id="category">
            <option value="all">All</option> <!--This will display every item thats in "products" database-->
            <option value="winter">winter</option>
            <option value="spring">spring</option>
            <option value="summer">summer</option>
            <option value="fall">fall</option>
        </select>
        <div id="products-container">
            <!--should dynamically load-->
        </div>
    </section>
    <script src="scripts/index.js"></script>
</body>
</html>
