body {
  background-color: black;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.navigation {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.navigation a {
  color: white;
  padding: 14px;
  font-size: 16px;
  text-decoration: none;
}

.navigation a:hover {
  color: black;
  background-color: white;
}

#brand {
  font-family: "Fjalla One", sans-serif;
  padding-top: 14px;
}

.products {
  padding-bottom: 14px;
  padding-top: 14px;
}

.search-bar {
  padding: 14px;
}
#product {
  height: 900px;
}
#product #boxes {
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#product #boxes #box1 {
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
#product #boxes #box1 #box3 {
  height: 85%;
  width: 60%;
  display: flex;
  flex-direction: column;
}
#product #boxes #box1 #box3 img {
  height: 100%;
  width: 100%;
}
#product #boxes #box1 #box4 {
  height: 90%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}
#product #boxes #box1 #box4 #box5 {
  height: 40%;
  width: 100%;
}
#product #boxes #box1 #box4 #box5 img {
  height: 100%;
  width: 100%;
}
#product #boxes #box1 #box4 #box6 {
  height: 40%;
  width: 100%;
}
#product #boxes #box1 #box4 #box6 img {
  height: 100%;
  width: 100%;
}

#product #boxes #box2 {
  background-color: white;
  border-radius: 10px;
  height: 70%;
  width: 30%;
  color: black;
  font-size: 35pt;
}
#product #boxes #box2 p {
  padding: 30px;
}
#cart {
  float: inline-end;
}
